
<head>
  <%- include("head.ejs")%>
</head>
<body>
  <%- include("navbar.ejs")%>
  
      <!--about-->
    <section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                    <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <img alt="" class="img-fluid" src="tr6.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
                    </div>
                    <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non,
                        lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
                    <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-default border-0 my-5">
      <div class="container py-4">

          <div class="row">
              <div class="col pb-4 text-center">
                  <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
                  <p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
              </div>
          </div>
          <div class="row pb-4 mb-2">
              <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                  <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
        <span class="thumb-info-wrapper border-radius-0">
          <a href="/about">
            <img src="tr1.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Rahul Rai</span>
                  <span class="thumb-info-type">vocalist/Guitarist</span>
                  </span>
                  </a>
                  </span>
                  <span class="thumb-info-caption">
          <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                  <span class="thumb-info-social-icons">
            <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                  <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                  <a href="http://www.linkedin.com"><i class="fab fa-instagram"></i><span>instagram</span></a>
                  </span>
                  </span>
                  </span>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                  <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
        <span class="thumb-info-wrapper border-radius-0">
          <a href="/about">
            <img src="tr9.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Jessica Doe</span>
                  <span class="thumb-info-type">Marketing</span>
                  </span>
                  </a>
                  </span>
                  <span class="thumb-info-caption">
          <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                  <span class="thumb-info-social-icons">
            <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                  <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                  <a href="http://www.linkedin.com"><i class="fab fa-instagram"></i><span>instagram</span></a>
                  </span>
                  </span>
                  </span>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                  <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
        <span class="thumb-info-wrapper border-radius-0">
          <a href="/about">
            <img src="tr7.1.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Rick Edward Doe</span>
                  <span class="thumb-info-type">Developer</span>
                  </span>
                  </a>
                  </span>
                  <span class="thumb-info-caption">
          <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                  <span class="thumb-info-social-icons">
            <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                  <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                  <a href="http://www.linkedin.com"><i class="fab fa-instagram"></i><span>instagram</span></a>
                  </span>
                  </span>
                  </span>
              </div>
              <div class="col-sm-6 col-lg-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                  <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
        <span class="thumb-info-wrapper border-radius-0">
          <a href="/about">
            <img src="tr9.1.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Melinda Wolosky</span>
                  <span class="thumb-info-type">Design</span>
                  </span>
                  </a>
                  </span>
                  <span class="thumb-info-caption">
          <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                  <span class="thumb-info-social-icons">
            <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                  <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                  <a href="http://www.linkedin.com"><i class="fab fa-instagram"></i><span>instagram</span></a>
                  </span>
                  </span>
                  </span>
              </div>
          </div>
      </div>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%- include("footer.ejs") %>
</body>
</html>