
<head>
  <%- include("head.ejs") %>
</head>
<body>
  <!--navbar-->
      <%- include("navbar.ejs")%>
      

<!--news-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="rr.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="">The late musical genius Rahul Rai</a>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="tr2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="">Tribal Rain with new vocalist</a>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="tr6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a href="">DeviDevta Album release delay</a>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--about us-->
<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
  <div class="container py-4">

      <div class="row align-items-center">
        <div class="text-center mb-4"><h2>About us</h2></div>
          <div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
              <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                  <div data-aos="fade-right">
                      <img alt="" class="img-fluid" src="tr.jpg">
                  </div>
                  <div>
                      <img alt="" class="img-fluid" src="img/generic/generic-corporate-3-3-full.jpg">
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="overflow-hidden mb-2">
                  <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
              </div>
              <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non,
                  lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
              <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
          </div>
      </div>
      <div class="text-center mt-4 " style="text-decoration: none; font-family: sans-serif;"><a href="/about">Learn more about us</a></div>
      
  </div>
</section>
<!--contact-us-->
<form action="/contactdata" method="POST" class="mb-5">
    
  <div class="col-md-4 offset-3 mt-5">
      <h1>Contact us</h1>
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" required id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class=" col-md-6 offset-3 mt-3">
      <label for="exampleFormControlTextarea1" class="form-label">Write Us</label>
      <textarea name="message" class="form-control" required id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="offset-3 mt-3">
    <input class="btn btn-danger" type="submit" name="submit">
  </div>
  </form>
      <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<%- include("footer.ejs") %>
<script>
  AOS.init();
</script>
</body>
